<div class="card">
  <article class="card-header">
    <div>
      <h1><a href="/post/{{id}}">{{title}}</a></h1>
      {{!-- <div>
        comment: {{}}
      </div> --}}
      <div>
        posted by {{ user.username }} on {{ format_date created_on }}
      </div>
    </div>
  </article>
      <div class="card-body">
        <p>Comments:</p>
        {{#each Comments as |comment|}}
        <p>{{ comment.description }}</p>
        <p>Posted by {{ comment.user.username }}</p>
        {{/each}}
      </div>
</div>





{{!-- <section class="card">
  <a href="/post/{{id}}">
    <header>{{name}}</header>
  </a>
</section> --}}